services:
  # makefile makes a metadata file for pgadmin.

  makefile:
    container_name: senzing-makefile
    command:
      - sh
      - -c
      - mkdir /output/postgres_postgres.com || true; echo $${FILE_CONTENTS} > /output/postgres_postgres.com/servers.json;
    environment:
      FILE_CONTENTS: >-
        {
            "Servers": {
                "1": {
                    "Name": "senzing",
                    "Group": "Servers",
                    "Host": "senzing-postgres",
                    "Port": 5432,
                    "MaintenanceDB": "postgres",
                    "Username": "postgres",
                    "UseSSHTunnel": 0,
                    "TunnelPort": "22",
                    "TunnelAuthentication": 0,
                    "KerberosAuthentication": false,
                    "ConnectionParameters": {
                        "sslmode": "prefer",
                        "connect_timeout": 10,
                        "sslcert": "<STORAGE_DIR>/.postgresql/postgresql.crt",
                        "sslkey": "<STORAGE_DIR>/.postgresql/postgresql.key"
                    }
                }
            }
        }
    image: busybox:${SENZING_DOCKER_IMAGE_VERSION_BUSYBOX:-latest}
    networks:
      - senzing
    read_only: true
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - pgadmin-volume:/output

  postgres:
    container_name: senzing-postgres
    environment:
      # See https://hub.docker.com/_/postgres "Environment Variables"
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${POSTGRES_DB:-G2}
      POSTGRES_PASSWORD: ${POSTGRESQL_POSTGRES_PASSWORD:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:${SENZING_DOCKER_IMAGE_VERSION_POSTGRES:-latest}
    networks:
      - senzing
    ports:
      - 5432:5432
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - postgres-volume:/var/lib/postgresql/data/pgdata

  mysql:
    container_name: senzing-mysql
    environment:
      # See https://hub.docker.com/_/mysql/ "Environment Variables"
      MYSQL_DATABASE: G2
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: mysql
    image: mysql:${SENZING_DOCKER_IMAGE_VERSION_MYSQL:-latest}
    networks:
      - senzing
    ports:
      - 3306:3306
    restart: always

  mssql:
    container_name: senzing-mssql
    environment:
      # See https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-environment-variables
      ACCEPT_EULA: Y
      MSSQL_PID: Developer
      MSSQL_SA_PASSWORD: Passw0rd
    image: mcr.microsoft.com/mssql/server:${SENZING_DOCKER_IMAGE_VERSION_MSSQL_SERVER:-2025-latest}
    networks:
      - senzing
    ports:
      - 1433:1433
    restart: always

  mssql-create-db:
    command:
      - /opt/mssql-tools18/bin/sqlcmd
      - -C
      - -P
      - Passw0rd
      - -Q
      - "CREATE DATABASE G2"
      - -S
      - senzing-mssql,1433
      - -U
      - sa
    container_name: senzing-mssql-create-database
    depends_on:
      - mssql
    image: mcr.microsoft.com/mssql/server:${SENZING_DOCKER_IMAGE_VERSION_MSSQL_SERVER:-2025-latest}
    networks:
      - senzing
    restart: on-failure

  oracle:
    container_name: senzing-oracle
    environment:
      # See https://container-registry.oracle.com/ords/ocr/ba/database/free
      ORACLE_PWD: Passw0rd
    image: container-registry.oracle.com/database/free:${SENZING_DOCKER_IMAGE_VERSION_ORACLE_FREE:-latest}
    networks:
      - senzing
    ports:
      - 1521:1521
    restart: always

  pgadmin:
    container_name: senzing-pgadmin
    depends_on:
      - makefile
    environment:
      # See https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html
      PGADMIN_CONFIG_DEFAULT_SERVER: '"0.0.0.0"'
      PGADMIN_CONFIG_LOGIN_BANNER: |-
        "<h4>Senzing demonstration</h4>
        Although pgAdmin can be configured for security,
        <br/>the following credentials are used for demonstration.
        <ul>
          <li><b>Username:</b> postgres@postgres.com</li>
          <li><b>Password:</b> password</li>
        </ul>"
      PGADMIN_DEFAULT_EMAIL: postgres@postgres.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_SERVER_JSON_FILE: /var/lib/pgadmin/storage/postgres_postgres.com/servers.json
    image: dpage/pgadmin4:${SENZING_DOCKER_IMAGE_VERSION_DPAGE_PGADMIN4:-latest}
    networks:
      - senzing
    ports:
      - 9171:80
      - 9172:443
    restart: always
    user: ${SENZING_UID:-0}:${SENZING_GID:-0}
    volumes:
      - pgadmin-volume:/var/lib/pgadmin/storage

  phpmyadmin:
    container_name: senzing-phpmyadmin
    depends_on:
      - mysql
    environment:
      DATABASE_HOST: mysql
    image: phpmyadmin:${SENZING_DOCKER_IMAGE_VERSION_PHPMYADMIN:-latest}
    networks:
      - senzing
    ports:
      - 9173:8080
    restart: always

  adminer:
    container_name: senzing-adminer
    environment:
      ADMINER_DEFAULT_SERVER: senzing-mssql
    image: senzing/adminer:${SENZING_DOCKER_IMAGE_VERSION_ADMINER:-latest}
    networks:
      - senzing
    ports:
      - 9177:8080
    restart: always

networks:
  senzing:
    name: ${SENZING_DOCKER_NETWORK:-senzing-network}

volumes:
  pgadmin-volume:
  postgres-volume:
